

/* =============================================================================
                   Normalize, border box and clearfix 
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } .clearfix {display: block; } html[xmlns] .clearfix {display: block; } * html .clearfix {height: 1%; } 

img {
  max-width:100%;
}

/* Global Classes / Wordpress Specific */
.aligncenter    { text-align: center; margin: 0 auto; }
.alignleft      { float: left; }
.alignright     { float: right; }
img.alignleft     { padding-right: 5px;}
img.alignright    { padding-left: 5px; }
.clear        { width:100%; float:left; clear:both;}



/* =============================================================================
                   Importing grid 
                   html5 elments are full-bleed
                   inner-wrapper is container

   ========================================================================== */
@import '_grid';




/* =============================================================================
                   Mixins & colors
   ========================================================================== */
@mixin fontify($fs, $fw, $lh){
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
@mixin link-style{
  font-size:18px;
  font-weight: 300;
  padding: 5px 15px;
  border-right: 1px solid;
  border-left: 1px solid;
  letter-spacing: 1px;
}
@mixin link-hover-style {
    background: $link;
  color:white;
  font-weight: 400;
  border:none;
}

$text:#335;
$link: #F22259;
$theBlue: #BFD0DC;
$footer: #ededed;



/* =============================================================================
                   Default Styling 
   ========================================================================== */

body {
  color:$text;
}

body, html {
  height: 100%;
}

h1, h2, h3 {
  font-family: Oswald;
}

h2 {
  @include fontify (32px, 300, 0.5em);
}

h3 {
  @include fontify(24px, 300, 1.5em);
}

p {
  font-family: lato;
  @include fontify(18px, 300, 1.5em);
  letter-spacing: 1px;
}


a {
  color:$link;
  text-decoration: none;
}

li {
  list-style: none;
}

.innerWrapper {
  max-width:1400px;
  width: 70%;
  margin:0 auto;
}

.left {
  float:left;
  width:68%;
  margin-right: 2%;

}

.full {
  width:100%;
}

/* =============================================================================
                   Sidebar 
   ========================================================================== */
.sidebar {
  width:30%;
  float:left;
}
  .sidebar ul {
    margin:0;
    padding:0;
  }
    .sidebar ul li {
      list-style: none;
    }




/* =============================================================================
                   Footer 
   ========================================================================== */

.footer {
  clear:both;
}


/* =============================================================================
                   Navigation 
   ========================================================================== */
header {
  width: 100%;
  background-color: white;
  position:fixed;
  z-index: 999;
  transition: all 0.5s ease-in-out;
}

header.sticky {
  background-color: $link;
  nav.main-nav ul li a {
    color:white;
    opacity:.7;
    &:after {
      background-color: white;
    }
    &:hover {
      opacity:1;
    }
  }
}


header .logo {
  float:left;
  @include column(3);
  // width: 30%;
  h1 {
    @include fontify(24px, 700, 1.5em);
    text-transform: uppercase;
  }
  a {
    color:$text;
  }
}

nav {
  // float:left;
  // width: 70%;
  @include column(9);
  margin: 0;
  padding: 0;
}

nav ul.main-nav-menu {
  margin:0;
  padding:0;
  float:right;
  li {
    // display:inline-block;
    float:left;
    padding: 0;
  }
  a {
    font-family: oswald;
    @include fontify(18px, 300, 1.2em);
    letter-spacing: 1px;
    color:$link;
    opacity:0.8;
    position: relative;
    display:inline-block;
    padding: 25px 30px;
    &:after {
      position: absolute;
      top: 96%;
      width: 100%;
      left:0;
      height: 1px;
      background: $link;
      content: '';
      opacity: 0;
      transition: height 0.3s, opacity 0.3s, transform 0.3s;
      transform: translateY(-20px);    
    }
    &:hover {
      opacity:1;
    }
    &:hover:after {
      height: 3px;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}



/* =============================================================================
                   Hero
   ========================================================================== */

section.hero {
  background:url(images/header-placehoder.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  padding: 250px 0;

    h1 {
      @include fontify(52px, 700, 1.2em);
      margin-bottom: 10px;
      letter-spacing: 2px;
    }
    h2 {
      @include fontify(24px, 300, 1.2em);
      margin-top:0;
    }
}


/* =============================================================================
                   Main content
   ========================================================================== */

#about, #skills, #portfolio, #blog, #contact {
  padding: 40px 0;
}



/* =============================================================================
                   About
   ========================================================================== */


#about {
  .about-image {
    @include column(3); 
    padding-top: 50px;
    img {
      float:left;
      border-radius: 50%;
    }
  }
  .text {
    @include column(9);
    padding-bottom: 50px;
  }
}



/* =============================================================================
                   Portfolio
   ========================================================================== */

section.portfolio {
  background-color: $theBlue;
}

#portfolio {
  width: 100%;
  @include column(12);
  .col2 {
    &:nth-child(2n) {
      margin-left: 0;
    }
    @include column(6);
    background-color: white;
    margin-bottom: 30px;
    padding: 30px 20px;
    figure {
      text-align: center;
      img {
        box-shadow: 0 1px 2px rgba(0,0,0,.2);      
      }
    }
  }
}

.img-hover {
  position: relative;
  img {
    max-width: 100%;
  }
  a {
    position: absolute;
    z-index:2;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
    padding-top: 32%;
    font-size: 20px;
    background:$link;
    opacity:0;
    &:hover {
      opacity:0.9;
      color:white;
      font-weight: 300;
    }
  }
}



/* =============================================================================
                   Portfolio
   ========================================================================== */

section.contact {
  background-color: $theBlue;
}

#contact {
  @include column(12);
}





/* =============================================================================
                   Comment Styling 
   ========================================================================== */

#comments .navigation { padding:0 0 18px; }
h3#comments-title, h3#reply-title {
  color:#000000;
  font-weight:700;
  font-size:20px;
  margin-bottom:0;
}
h3#comments-title { padding:24px 0; }
.commentlist li.comment {
  border-bottom:1px solid #e7e7e7;
  line-height:24px;
  position:relative;
  clear:both;
  margin:0 0 24px;
  padding:0 0 0 56px;
}
.commentlist li:last-child {
  border-bottom:none;
  margin-bottom:0;
}
#comments .comment-body ul, #comments .comment-body ol { margin-bottom:18px; }
#comments .comment-body p:last-child { margin-bottom:6px; }
#comments .comment-body blockquote p:last-child { margin-bottom:24px; }
.commentlist ol { list-style:decimal; }
.commentlist .avatar {
  position:absolute;
  top:4px;
  left:0;
}
.comment-author cite {
  color:#000000;
  font-style:normal;
  font-weight:700;
}
.comment-author .says { font-style:italic; }
.comment-meta {
  font-size:12px;
  margin:0 0 5px;
}
.comment-meta a:link, .comment-meta a:visited {
  color:#888888;
  text-decoration:none;
}
.reply {
  font-size:12px;
  padding:0 0 24px;
}
.reply a, a.comment-edit-link { color:#888888; }
.commentlist .children li {
  border:none;
  margin:0;
}
#comments .pingback {
  margin-bottom:18px;
  padding-bottom:18px;
  border-bottom:1px solid #e7e7e7;
}
.commentlist li.comment+li.pingback { margin-top:-6px; }
#comments .pingback p {
  color:#888888;
  font-size:12px;
  line-height:18px;
  display:block;
  margin:0;
}
#comments .pingback .url {
  font-style:italic;
  font-size:13px;
}
input[type=submit] { color:#333333; }
#respond {
  margin-top:24px;
  border-top:1px solid #e7e7e7;
  overflow:hidden;
  position:relative;
}
#respond .comment-notes { margin-bottom:1em; }
.form-allowed-tags { line-height:1em; }
.children #respond { margin:0 48px 0 0; }
h3#reply-title { margin:18px 0; }
#comments-list #respond { margin:0 0 18px; }
#cancel-comment-reply-link {
  font-size:12px;
  line-height:18px;
  font-weight:400;
}
#respond .required {
  color:#ff4b33;
  font-weight:700;
}
#respond label {
  color:#888888;
  font-size:12px;
}
#respond input {
  width:98%;
  margin:0 0 9px;
}
#respond textarea { width:98%; }
#respond dt, #respond dd {
  color:#888888;
  font-size:12px;
  line-height:18px;
}
#respond dd code { font-size:11px; }
#respond .form-submit { margin:0 0 24px; }
#respond .form-submit input {
  width:auto;
  font-size:14px;
}
#respond dl { margin:0 0 10px; }
#respond dt {
  display:inline;
  font-weight:400;
}
#respond dd { display:inline; }
p.form-allowed-tags, .nocomments { display:none; }
.commentlist, .commentlist .children {
  list-style:none;
  margin:0;
}
.comment-meta a:active, .comment-meta a:hover, .reply a:hover, a.comment-edit-link:hover { color:#ff4b33; }
#respond p, #comments-list ul #respond { margin:0; }
